<div class="sidebar" [class.collapsed]="isCollapsed">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">
        <span class="icon">🏠</span> 
        <span class="text">Weather by City</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/coordinates">
        <span class="icon">🌍</span> 
        <span class="text">Weather by Lat/Lng</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/five">
        <span class="icon">📅</span> 
        <span class="text">5-Day Forecast</span>
      </a>
    </li>
  </ul>
</div>